.countDOWN {
  text-align: center;
}

.countDOWN tr td {
  width: 2em;
}

.countDOWN tr td.digits {
  color: #ee5486;
}

.countDOWN tr.textsRow {
  font-size: 19px;
  color: #FFF;
}

.countDOWN tr td.none {
  display: none;
}
